@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@50..200,200..900&display=swap');

/* || RESET */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* || GENERAL STYLES */

body {
    padding: 1.5rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Inconsolata", monospace;
    text-align: center;
    color: #e6edf3;
    background: linear-gradient(0deg, hsla(218, 80%, 2%, 1) 0%, hsla(215, 21%, 11%, 1) 100%);
}

h1 {
    font-size: clamp(2rem, 2.5rem + 2vw, 2.75rem);
    font-weight: 900;
    line-height: 1.25;
}

main {
    margin: 1rem 0;
}

nav {
    overflow: hidden;
    max-width: 425px;
    border: 2px solid #30363d;
    border-radius: 2rem;
    font-size: clamp(1rem, 1.25rem + 2vw, 1.5rem);
    line-height: 4rem;
    background: #0d1117;
}

h2 {
    padding: 1rem 1.5rem;
    font-size: clamp(1rem, 1.5rem + 2vw, 2rem);
    font-weight: 900;
    line-height: 1.25;
    background: #161b22;
}

ul {
    list-style-type: none;
}

li {
    border-top: 1px solid #30363d;
}

li a {
    display: block;
}

li a,
li a:visited {
    text-decoration: none;
    color: #79c0ff;
}

li a:hover,
li a:focus {
    color: #56d364;
    background: hsla(127, 59%, 58%, 0.1);
}

p {
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #79c0ff;
}

a:hover,
a:focus {
    color: #56d364;
}