@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@50..200,200..900&display=swap');

/* || RESET */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* || GENERAL STYLES */

body {
    padding: 1.5rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Inconsolata", monospace;
    text-align: center;
    color: #e6edf3;
    background: #010409;
}

nav {
    overflow: hidden;
    max-width: 720px;
    margin-bottom: 1rem;
    border: 2px solid #30363d;
    border-radius: 2rem;
    font-size: clamp(1.5rem, 1rem + 2vw, 2rem);
    line-height: 5rem;
    background: #0d1117;
}

h1 {
    padding: 1rem;
    font-size: clamp(2rem, 1.5rem + 2vw, 2.75rem);
    font-weight: 900;
    line-height: 1.25;
    background: #161b22;
}

ul {
    list-style-type: none;
}

li {
    border-top: 1px solid #30363d;
}

li a {
    display: block;
}

li a,
li a:visited {
    text-decoration: none;
    color: #79c0ff;
}

li a:hover,
li a:focus {
    color: #56d364;
    background: hsla(127, 59%, 58%, 0.1);
}

p {
    font-size: 1rem;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #79c0ff;
}

a:hover,
a:focus {
    color: #56d364;
}

@media screen and (min-width: 535px) {
    h1 {
        padding: 2rem;
        line-height: 1;
    }
}